/*Font Style*/
.st-font{
    font-family: 'Satisfy', cursive;
}
html,body{
    height: 100%;
}
.container-fluid{
    min-height: 100%;
}

/*Service Icon Color*/
.i-color{
    color: chartreuse;
}
/*Service subtitle Color*/
.ss-color{
    color: silver;
}